.prepend-top-5 { margin-top:5px }
.prepend-top-20 { margin-top:20px }
.append-bottom-20 { margin-bottom:20px }

.light { color: #888 }
.success { color: #5cb85c }
.badge-success { background-color: #5cb85c }
.badge-info { background-color: #5bc0de }
.badge-warning { background-color: #f0ad4e }

a.delete {
  color: $red;

  &:hover, &:focus {
    color: darken($red, 10)
  }
}


.left { float:left }

.very-important {
  font-weight: bold;
  text-decoration: underline;
}
