%p Dear #{@user.name},

%p
  Thank you for your interest, but we regret to inform you that you have not been selected for a RES/Project Summer School "Democracy, expertise and power: Making a New Europe in the Era of Globalisation" this time. We got a high number of applications, and from over 120 candidates we were able to select only 18. We hope that you will be interested in other events that we organize. We would like to encourage you to follow us on
  %a{href: 'https://www.facebook.com/pages/Centre-for-European-Studies-at-the-Jagiellonian-University-in-Krakow/196228973745644'} CES Facebook fan page
  where we announce news about upcoming events.

%p
  Yours sincerely,

%p
  %br
  RES/Project Summer School 2015 organizers
  %br
  Centre For European Studies,
  %br
  Jagiellonian University
