%p Dear #{@user.name},

%p
  Thank you for your interest, but we regret to inform you that you have not been selected for a RES/Project Summer School "Democracy, expertise and power: Making a New Europe in the Era of Globalisation" this time. We got a high number of applications, and from over 120 candidates we were able to select only 18. We hope that you will be interested in other events that we organize. We would like to encourage you to follow us on
  %a{href: 'https://www.facebook.com/pages/Centre-for-European-Studies-at-the-Jagiellonian-University-in-Krakow/196228973745644'} CES Facebook fan page
  where we announce news about upcoming events.

%p
  Since you were interested in our Summer School, we hope the information below will be useful for you:

%p
  The RES/Project Summer School is part of a wider project: "Research and Expertise in Society" thanks to which CES offers a new specialization: MA in European Studies "Central and Eastern European Studies: Research Track" the main innovation of which is to help students to gain practical skills during workshops and classes on research management. It also gives students the opportunity to either lead their own research project or to complete an internship as part of the programme. If you're interested in continuing your education and pursuing your Master's Degree totally in English, at one of the best Universities in Central Europe, please check the website for more information:
  %a{href: 'http://www.ces.uj.edu.pl/academics/ma-in-european-studies/central-eastern-european-studies-research-track'} http://www.ces.uj.edu.pl/academics/ma-in-european-studies/central-eastern-european-studies-research-track.
  Admission is now open!

%p
  For scholarship opportunities please refer to our website:
  %a{href: 'http://www.ces.uj.edu.pl/prospective/postgraduate/scholarships'} http://www.ces.uj.edu.pl/prospective/postgraduate/scholarships

%p
  Should you have any further questions or concerns, please don’t hesitate to email at
  %a{href: 'mailto:ces.office@uj.edu.pl'} ces.office@uj.edu.pl.


%p We appreciate your continued interest!

%p
  Yours sincerely,

%p
  %br
  RES/Project Summer School 2015 organizers
  %br
  Centre For European Studies,
  %br
  Jagiellonian University
