%p Dear #{@user.name},
%p
  Thank you very much for your interest in our RES Project Summer School 2015 "Democracy, Expertise and Power: Making a New Europe in the Era of Globalisation" which will take place 15-24 June in Kraków. We are pleased that you decided to apply for our summer school and that you already submitted your application! The results will be announced in mid-May 2015.
%p
  Should you have any questions please, do not hesitate to contact us at
  %a{href: 'mailto:resproject@uj.edu.pl'} resproject@uj.edu.pl!
%p
  Best regards,
  %br
  RES Project Team
%p
  %a{href: 'http://www.ces.uj.edu.pl/res/project-summer-school-2015'}
    http://www.ces.uj.edu.pl/res/project-summer-school-2015
