= simple_form_for @other,
                  html: { role: 'form', id: 'modal_form' },
                  remote: true,
                  wrapper: :horizontal_form do |f|
  .form-group
    = f.input :title, wrapper: :without_label, input_html: { rows: 4 }

