%h3
  = t('work.title')
  = render('review_process/score', url: review_works_path(@review), field: :work_score)
%hr

%ul.well-list
  = render(partial: 'works/item', collection: @works) || render('review_process/empty', message: t('work.empty'))
