%div
  = render 'new_base'
  = render 'oauth'
  = render 'devise/shared/signup'
//.clearfix.prepend-top-20
//  %p
//    %span.light Did not receive confirmation email?
//    = link_to "Send again", new_confirmation_path(resource_name)
