%h3
  = t('education.title')
  = render('review_process/score', url: review_educations_path(@review), field: :education_score)
%hr

%ul.well-list
  = render(partial: 'educations/item', collection: @educations) || render('review_process/empty', message: t('education.empty'))
