%p
  .btn.btn-lg.btn-primary{ disabled: "disabled" }
    = icon('envelope-o', t('application.submit'))

.alert.alert-warning.alert-submit{ role: 'alert' }
  = t('application.not_ready_html').html_safe