%footer.footer
  .container.clearfix
    .left
      %span.logos-small
        = image_tag('uj.jpg')
        = image_tag('arena.jpg')
        = image_tag('eea.jpg')
        = image_tag('norway.jpg')

    .pull-right
      %p.text-muted
        © Copyright by
        %a(href="mailto:mkasztelnik@gmail.com") Marek Kasztelnik
        2014