%footer.footer
  .container.clearfix
    .left
      %p.text-muted Place for logos

    .pull-right
      %p.text-muted
        © Copyright by
        %a(href="mailto:mkasztelnik@gmail.com") Marek Kasztelnik
        2014